
# Exclude typescript source, config and build info, temp javascript files
src/
*.ts
tsconfig.json
tsconfig.dev.json
/lib/tsconfig.tsbuildinfo
/lib/**/*.js

# Include bundled javascript and typescript declarations
!/lib/index.js
!*.d.ts

# Include assets
!src/**/assets/*

# Exclude jsii outdir
dist

# Include .jsii
!.jsii

# Exclude dev folders
.github/
.projen/
coverage/
