import {render} from '@testing-library/react'
import {Home} from '..'

describe('Home page', () => {
  it('shows title', async () => {
    const container = render(<Home cookies={{}} />)
    const heading = container.getByText('It works!')
    expect(heading).toBeTruthy()
    expect(heading).toBeInstanceOf(HTMLHeadingElement)
  })
})
