import {qase} from 'playwright-qase-reporter/dist/playwright'
import {test, Users, expect} from 'src/tests/common'
import {errors} from 'src/tests/data'

test.describe('Authorization & Authentication', () => {
  const password = 'secret_sauce'

  test.beforeEach(async ({signInPage}) => {
    await signInPage.open()
  })

  test(qase('', 'Sign in with valid credentials'), async ({signInPage, productsPage}) => {
    await signInPage.input.username.fill(Users.standard)
    await signInPage.input.password.fill(password)
    await signInPage.button.login.click()
    await expect(productsPage.productList).toBeVisible()
  })

  test(qase('', 'Sign in with locked user credentials'), async ({signInPage}) => {
    await signInPage.input.username.fill(Users.locked)
    await signInPage.input.password.fill(password)
    await signInPage.button.login.click()
    await expect(signInPage.error.message).toBeVisible()
    await expect(signInPage.error.message).toHaveText(errors.signIn.lockedUser)
  })
})
