import {Locator, Page} from '@playwright/test'
import {BasePage} from 'tests/pages/base'

export class ProductsPage extends BasePage {
  readonly productList: Locator

  constructor(page: Page) {
    super(page)

    this.productList = this.page.locator('.inventory_list')
  }
}
