import {createLogger} from '../'

it('createLogger returns a logger object with error and info methods', () => {
  const logger = createLogger()

  expect(typeof logger.error).toEqual('function')
  expect(typeof logger.error).toHaveLength(8)
  expect(typeof logger.info).toEqual('function')
  expect(typeof logger.info).toHaveLength(8)
})
